/* @media (max-width: 1440px) {} */
/* @media (max-width: 1366px) {} */
/* @media (max-width: 1320px) {} */
/* @media (max-width: 1290px) {} */
/* @media (max-width: 1140px) {} */
/* @media (max-width: 1024px) {} */
@media (max-width: 992px) {
    .link__title {
        overflow: hidden;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
    }

    .link__header {
        flex-shrink: 0;
        scroll-snap-align: center;
        text-align: center;
        margin-right: 30px;
    }
        .main__strat {
        flex-direction: column;
        row-gap: 30px;
        text-align: center;
    }

}
@media (max-width: 768px) {
    .nav__menu {
        width: 50px;
        height: 50px;
        position: relative;
        display: flex;
                justify-content: center;
                align-items: center;
        transition: 500ms;
        z-index: 999;
      }

      .nav__menu.active {
        width: 25px;
        height: 25px;
      }

      .nav__line {
        position: relative;
        width: 100%;
        height: 2px;
        background: #000;
        transition: 500ms;
      }

      .nav__line.active {
        background: transparent;
      }

      .nav__line.active::before {
                transform: rotate(45deg);
        top: 0;
        width: 100%;
          background: #fff;
      }

      .nav__line.active::after {
                transform: rotate(-45deg);
        top: 0;
        width: 100%;
        background: #fff;
      }
      
      .nav__line::before {
        content: "";
        position: absolute;
        top: -10px;
        right: 0;
        width: 60%;
        height: 100%;
        background: #000;
        transition: 500ms;
      }

      .nav__line::after {
        content: "";
        position: absolute;
        top: 10px;
        right: 0;
        width: 80%;
        height: 100%;
        background: #000;
        transition: 500ms;
      }
      
      .list {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
                transform: scale(0);
                box-shadow: 0 0 35px 5px var(--link);
                justify-content: space-evenly;
      }

      .list.active {
                transform: scale(1);
                flex-direction: column;
                position: fixed;
               width: 100%;
               height: 100%;
               background: rgba(1, 3, 5, 0.8);
               align-items: center;
      }

      .link {
        margin: 0;
        padding: 29px 42px;
        color: #fff;
      }

    .flex__google {
        display: flex;
        text-align: center;
        align-items: center;
        flex-direction: column;
        row-gap: 30px;
    }

    .main__diceration::after {
        display: none;
    }

    .main__diceration::before {
        display: none;
    }

    .our__title {
        text-align: center;
        flex-direction: column;
        justify-content: center;
        display: flex;
        align-items: center;
    }

    .our__title::after {
        display: none;
    }

    .our__title::before {
        display: none;
    }

    .our__foother {
        margin-top: 20px;
    }

    .foother__section {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        align-items: center;
        row-gap: 30px;
    }

    .header_class {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 50px 0;
    }

    .rasim_rasim {
        margin-bottom: 20px;
    }

    .text_text{
        display: none;
    }

    .newsletter__letter {
      flex-direction: column;
      row-gap: 30px;
    }

    
}
/* @media (max-width: 736px) {} */
/* @media (max-width: 734px) {} */
/* @media (max-width: 684px) {} */
@media (max-width: 667px) {
    .text_text {
      text-align: center;
    }
}
/* @media (max-width: 576px) {} */
/* @media (max-width: 414px) {} */
@media (max-width: 412px) {
      .newsletter__reg {
      flex-direction: column;
      row-gap: 30px;
      align-items: center;
        
    }

    input {
      text-align: center;
      padding: 11px 17px 10px 17px;
    }
}
@media (max-width: 375px) {
    .header__section {
        font-size: 30px;
        margin-bottom: 30px;
    }
}
/* @media (max-width: 360px) {} */
/* @media (max-width: 320px) {} */